<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ERROR</title>
	<link rel="stylesheet" href="css/styles.css">
</head>
<body>
	<header>
		<div class="container">
			<h1>ERROR</h1>	
		</div>
	</header>
	<section id="showcase">
		<div class="container">
			<h3>{{error}}</h3>
			<p id = "img">
				<img src="img/damson.jpg" alt="">
			</p>	
		</div>
			
	</section>
	<footer>
        <p>
            Copyright &copy; {{year}} RC Pery. <a href="https://github.com/thebinsubtleissubtle"><img src="img/GitHub-Mark-32px.png" alt="Github logo"></a>
        </p>
    </footer>
</body>
</html>