<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>What2Do | View</title>
	<link rel="stylesheet" href="../css/styles.css">
</head>
<body>
	<header>
		<div class="container">
			<h1>View Task</h1>
			<nav>
				<a href="/">Back</a>
			</nav>
		</div>
	</header>
	<section id="showcase">
		<h1>Sorry, we are still building this site right now. <a href="/">Get back here.</a></h1>
	</section>
	<footer>
		<p>
            Copyright &copy; {{year}} RC Pery. <a href="https://github.com/iamrcpery"><img src="../img/GitHub-Mark-32px.png" alt="Github logo"></a>
        </p>
	</footer>
</body>
</html>